bottle==0.13.2
cosmic_ray==8.4.1
fqdn==1.5.1
humanize==4.12.0
hypofuzz==25.2.2
isoduration==20.11.0
jsonpointer==3.0.0
jupyterlab_rise==0.43.1
pipdeptree==2.25.0
Pympler==1.1
rise==5.7.1
scipy==1.15.2
seaborn==0.13.2
sh==2.2.1
tinycss2==1.4.0
uri-template==1.3.0
webcolors==24.11.1
wheel==0.44.0
